Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*Intermediate*
*Binaries*
*.log
Build
*.tlog
*.obj
*.ilk
*.pdb
*.ipdb
*.iobj
*.idb
*.recipe