Release/ccFacialLandmarkDX11*
Release/FaceDetectorExt*
Release/ImageFilterDX11*
back/*
setup.bat
Resource
FaceSDK/dll/x86/ImageFilterDX11.dll
FaceSDK/lib/x86/ImageFilterDX11.lib
ccFacialLandmarkDX11/resource/
moc/
FacialToolsQT-DX11/ReleaseDBG
LibImageFilterDX11/
FacialToolsQT-DX11/resource/
FacialToolsQT-DX11/Release/qmake/temp/Makefile
FacialToolsQT-DX11/Release/
ImageFilterDX11/EffectKernel/Filter/CMatting.cpp
ImageFilterDX11/EffectKernel/Filter/CMatting.h
*.rej
FacialToolsQT-DX11/BG.png
FacialToolsQT-DX11/2.潮自拍原图.JPG
*.info
FacialToolsQT-DX11/logEffect1.txt
FacialToolsQT-DX11/result.png
FacialToolsQT-DX11/ImageFilter/lookup_table_512_base.png
Release/resource/FaceBeatiful3_AR.zip
Release/resource/FaceBeatiful4.zip
ImageFilterDX11/ReleaseMagic/
ImageFilterDX11/ImageFilterDX11.vcxproj.user
.vs/
x64/
FacialToolsQT-DX11/ImageFilter/
3rdparty/Vld/
3rdparty/faceExpressionSDK/
Release/resource/PBRTest__AR.zip
tmpDemo/
Resource_AR/
Release/opencv_world410.dll
*.obj
*.tlog
tmpDemo.zip
ARDemo/
*.user
*.recipe
*.iobj
*.ipdb
*.log
*.pdb
*.ilk
*.exe